<h1 class="what-we-do animated flipInX">Tools of the trade</h1>
<div class="info-box">
	<div>Every artist needs their chosen tools to create a masterpiece. Here's what we recommend to get started:</div>
	<img class="cookTools t" src="../images/tongs.png">
	<img class="cookTools m" style="display: none" src="../images/Mspatula.png">
	<img class="cookTools r" style="display: none" src="../images/Rspatula.png">
	<img class="cookTools s" style="display: none" src="../images/slotted.png">
	<img class="cookTools w" style="display: none" src="../images/whisk.png">
	<img class="cookTools c" style="display: none" src="../images/Cknife.png">
	<img class="cookTools g" style="display: none" src="../images/grater.png">
	<img class="cookTools b" style="display: none" src="../images/Bknife.png">
	<img class="cookTools o" style="display: none" src="../images/opener.png">
	<img class="cookTools T" style="display: none" src="../images/thermometer.png">
	<img class="cookTools M" style="display: none" src="../images/measuringCup.png">
	<img class="cookTools ms" style="display: none" src="../images/measuringSpoon.png">
	<img class="cookTools z" style="display: none" src="../images/timer.png">
	<img class="cookTools cb" style="display: none" src="../images/cuttingBoard.png">
	<img class="cookTools mb" style="display: none" src="../images/mixingBowl.png">
	<img class="cookTools f" style="display: none" src="../images/fryingPan.png">
	<img class="cookTools sp" style="display: none" src="../images/saucePan.png">
	<img class="cookTools bp" style="display: none" src="../images/bakingPan.png">
	<img class="cookTools om" style="display: none" src="../images/ovenMitts.png">
	<ul class="recommendations">
		<li class="tongs active">Locking tongs</li>
		<li class="Mspatula">Metal spatula</li>
		<li class="Rspatula">Rubber spatula</li>
		<li class="slotted">Slotted spoon</li>
		<li class="whisk">Whisk</li>
		<li class="Cknife">Chef's knife (8 to 9 inch blade)</li>
		<li class="grater">Grater</li>
		<li class="Bknife">Serrated bread knife</li>
		<li class="opener">Can opener</li>
		<li class="thermometer">Thermometer</li>
		<li class="measuringCup">Measuring cups</li>
		<li class="measuringSpoon">Measuring spoons</li>
		<li class="timer">Timer</li>
		<li class="cuttingBoard">Cutting board (wooden is preferred)</li>
		<li class="mixingBowl">Mixing bowl</li>
		<li class="fryingPan">Nonstick frying pan</li>
		<li class="saucePan">Nonstick sauce pan</li>
		<li class="bakingPan">Rimmed baking sheet</li>
		<li class="ovenMitts">Pot holders or oven mitts</li>
	</ul>
	<div>Not all of these are required for every recipe, but if you have all these tools in your kitchen you will be prepared to make any recipe you can imagine.</div>
</div>
