<h1 class="what-we-do">Tools of the trade</h1>
<div class="info-box">
	<div>Every artist needs their chosen tools to create a masterpiece. Here's what we recommend to get started:</div>
	<ul class="recommendations">
		<li>item 1</li>
		<li>item 2</li>
		<li>item 3</li>
		<li>item 4</li>
		<li>item 5</li>
	</ul>
</div>
