<img class="foodImage" src="/images/food.jpg">
<h1 class="creation-title">Welcome back!</h1>
<div class="login-page">
	<form action="#" class="logIn">
		<label for="email">Email: </label>
		<input type="email" id="email" name="email" required><br>
		<label for="password">Password: </label>
		<input type="password" id="password" name="password" required>

		<button class="submit" type="submit">Log In</button><br>
		<a href="/#/login/signup">Don't have an account?</a>
	</form>
</div>