<img src="/images/food.jpg">
<h1 class="creation-title">Sign up and start cookin'</h1>
<div class="login-page">
	<form action="#">
		<label for="first-name">First Name: </label>
		<input type="text" id="first-name" name="first-name"><br>
		<label for="last-name">Last Name: </label>
		<input type="text" id="last-name" name="last-name"><br>
		<label for="email">Email: </label>
		<input type="email" id="email" name="email"><br>
		<label for="password">Password: </label>
		<input type="password" id="password" name="password"><br>
		<label for="confirm">Confirm Password: </label>
		<input type="password" id=confirm" name="confirm">

		<button class="submit" type="submit">Sign Up</button><br>
		<a href="/#/login">Already have an account?</a>
	</form>
</div>